/*************FONTS*************/
@font-face {
    font-family: BebasNeue;
    src: url(../fonts/BebasNeue.otf);
}
@font-face {
    font-family: Quicksand;
    src: url(../fonts/Quicksand_Light.otf);
}
@font-face {
    font-family: QuicksandBold;
    src: url(../fonts/Quicksand_Bold.otf);
}

html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
	background-color:#2C2E3A;
	font-family:QuickSand;
}

.wrap > .container {
    padding: 40px 15px 20px;
}

.wrap > .container-fullpage {
    padding: 40px 0px 20px;
    width:100%;
}

.footer {
    height: 60px;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

.top-buffer-slider{
	margin-top:30px;
}

.navbar{
	margin-bottom:0 !important;
}

.iseeec-slide{
	background-position: 50%!important;
	background-repeat: no-repeat!important;
	height: 100% !important;
    -webkit-background-size: cover!important;
    -moz-background-size: cover!important;
    -o-background-size: cover!important;
    background-size: cover!important;
}

.slide-social{
	background-color:white;
}

/*************CARRUSELES*************/
.cycle{
	margin-top:100px;
	margin-left:7%;
	background-color:#4C4C4C;
	width:49%;
	padding:5px;
}

.cycle-social{
	margin-top:30px;
	background-color:#4C4C4C;
	width:16%;
	padding:5px;
}

.cycle-imagenes{
	margin-top:50px;
	background-color:#4C4C4C;
}

.social-buttons-container{
	padding-top:150px;
	padding-left:70px;
	padding-right:70px;
}

/*************TITULOS*************/
.titulo{
	margin-top:-50px;
	margin-left:7%;
	font-family: BebasNeue;
	font-size:160pt;
	color:#4BC1DD;
	position:relative;
	z-index:1;
}

.titulo-low{
	font-family: BebasNeue;
	font-size:60pt;
	color:#4BC1DD;
}

.titulo-productos,
.titulo-imagenes,
.titulo-seo,
.titulo-productos-low,
.titulo-imagenes-low,
.titulo-seo-low{
	color:white;
}

.titulo-imagenes{
	margin:10px 20px 0 0;
}

.titulo-atributos{
}

.titulo-social{
	margin-top:-30px;
	min-width:890px;
}

.titulo-mailing{
	margin-top:50px;
}

.titulo-seo{
	margin:-40px 80px 0 0;
}

.titulo-analytics{
	margin:-40px 80px 0 0;
	color:#2C2E3A;
}

/*************TEXTOS*************/
.texto{
	margin-top:100px;
	margin-left:12%;
	line-height: 12pt;
	width:30%;
}

.texto-low{
	padding-top:10px;
	line-height: 13pt;
}

.texto-categorias{
	margin-top:210px;
}

.texto-categorias-low{
	padding-top:120px;
}

.texto-productos{
	margin-left:9%;
}

.texto-atributos{
	margin-left:7%;
}

.texto-imagenes{
	margin-top:50px;
	color:white;
}

.texto-imagenes-low{
	color:white;
}

.texto-social{
	margin-left:0px;
	margin-top:50px;
}

.container-social{
	margin-left:50px;
}

.texto-mailing{
	margin-left:6%;
	margin-top:60px;
	min-width:33%;
	color:white;
}


.texto-mailing-low{
	color:white;
}

.texto-mailing-2{
	margin-left:10px;
}

.texto-seo{
	margin-top:50px;
	margin-left:60%;
	color:white;
	min-width: 400px;
}

.texto-analytics{
	margin-right:100px;
	margin-top:50px;
	max-width:350px;
}

/*************SUBTITULOS*************/
.subtitulo-1{
	font-family: Quicksand;
	font-size:30pt;
}

.subtitulo-1-low{
	font-family: Quicksand;
	font-size:20pt;
}

.subtitulo-2{
	margin-top:20px;
	font-family: QuicksandBold;
	font-size:30pt;
	min-width:350px;
}

.subtitulo-2-low{
	font-family: QuicksandBold;
	font-size:20pt;
	min-width:350px;
}


/*************DESCRIPCIONES*************/
.descripcion{
	margin-top:20px;
	font-family: Quicksand;
	font-size:16pt;
	line-height:26pt;
}

.descripcion-low{
	width:90%;
	margin-top:20px;
	font-family: Quicksand;
	font-size:15pt;
	line-height:20pt;
}


/*************NAVBAR*************/

.main-menu.navbar-inverse {
    background-color: #ccc;
    border-color: #ccc;
    min-height:40px !important;
}

.main-menu.navbar-inverse > .container{
    width:100%;
}

a.navbar-brand{
	padding:5px;
    height:40px !important;
}

.signup-login.navbar-nav{
	font-family:QuickSand;
}

.signup-login.navbar-nav > li#boton-cotizar{
	margin:5px;
	padding:5px 0;
}

.signup-login.navbar-nav > li#boton-cotizar,
.signup-login.navbar-nav > li#boton-cotizar.active,
.signup-login.navbar-nav > li#boton-cotizar.active a{
	background-color:#2C2E3A !important;
}

.signup-login.navbar-nav > li#boton-cotizar > a{
	color:#ccc;
	font-family:QuickSandBold;
}

.signup-login.navbar-nav > li{
	margin:10px 0;
}

.signup-login.navbar-nav > li > a{
	font-size:1.15em;
	font-weight:600;
	padding:0 10px;
	color: #2C2E3A;
}

.navbar .divider-vertical {
	height: 20px;
	margin: 0 9px;
	}
.navbar-inverse .navbar-nav > .active > a, 
.navbar-inverse .navbar-nav > .active > a:hover, 
.navbar-inverse .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: #2C2E3A;
}
@media only screen and (min-width: 768px) {
	.navbar .divider-vertical {
		border-right: 1px solid #2C2E3A;
	}
}


/*************HOME*************/
.slide-home{
	background-color:#2c2e3a;
}
.container-slogan{
	margin:130px 0 0 60px;
	text-align:left;
}

.container-logo-home,
.container-slogan,
.container-slogan-low{
	color:#ccc;
	font-family:BebasNeue;
	font-size:70pt;
	line-height: 58pt;
}


.container-slogan-low{
	margin-top:50px;
	font-size:50pt;
}

.container-logo-home{
	border-right: 3px solid #ccc;
	margin-top:95px;
	height:290px;
}

.container-logo-home > img{
	margin-top:115px;
}

.container-logo-home-low > img{
	margin-top:30px;
}


/*************TOGGLE BUTTON*************/
.main-menu.navbar-inverse .navbar-toggle{
    position: relative;
    float: right;
    padding: 5px 10px;
    margin-top: 6px;
    margin-right: 15px;
    background-color: transparent;
    background-image: none;
    border-radius: 4px;
}


/*************CREAR COTIZACION*************/

div.cotizacion-crear{
	color:white;
	max-width:760px;
	margin:0 auto;
	padding:40px 30px 0;
}
div.cotizacion-crear h1{
	margin:0;
	font-family:QuickSandBold;
}

div.cotizacion-form{
	margin-top:30px;
}

.btn-cotizar{
	font-family:QuickSandBold;
	font-size:1.125em;
	background-color:#ccc;
	border-radius:0;
	color:#2C2E3A;
}

.container-gracias{
	width:600px;
}

.calculator-container{
	position:fixed;
	right:0px;
	top:230px;
}

.container-iseeci{
	margin-top:100px;
	margin-right:30px;
}

.container-iseeci-low{
	margin-top:30px;
	margin-right:30px;
}

.container-iseeci-footer{
	margin-right:15px;
}

/*************CONTACT*************/
.site-contact{
	color:white;
}

/*************BACKGROUNDS*************/
@media only screen and (orientation: landscape),
	(max-width:768px){
	.slide-categorias{
		background: url('../images/categorias/back-cat.png');
	}
	.slide-productos{
		background: url('../images/productos/back-prd.png');
	}
	.slide-atributos{
		background: url('../images/atributos/back-atr.png');
	}
	.slide-imagenes{
		background: url('../images/imagenes/back-img.png');
	}
	.slide-mailing{
		background: url('../images/mail/back-mail.png');
	}
	.slide-seo{
		background: url('../images/seo/back-seo.png');
	}
	.slide-analytics{
		background: url('../images/analytics/back-analytics.png');
	}
}

@media only screen and (orientation: portrait) {
	.slide-categorias{
		background: url('../images/categorias/back-cat-port.png');
	}
	.slide-productos{
		background: url('../images/productos/back-prd-port.png');
	}
	.slide-atributos{
		background: url('../images/atributos/back-atr-port.png');
	}
	.slide-imagenes{
		background: url('../images/imagenes/back-img-port.png');
	}
	.slide-mailing{
		background: url('../images/mail/back-mail-port.png');
	}
	.slide-seo{
		background: url('../images/seo/back-seo-port.png');
	}
	.slide-analytics{
		background: url('../images/analytics/back-analytics-port.png');
	}
}